[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "*"
langchain-openai = "*"
requests = "*"
langchainhub = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.9"
